[submodule "ps-lite-elastic"]
	path = ps-lite-elastic
	url = https://github.com/yezhizi/ps-lite-elastic.git
[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
